html{
    margin:0;
}

#header{
    background-color: rgb(231, 194, 101, 0.5);
    height: 100px;
    margin:0;
    display: flex;
    border-bottom: 3px solid white;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: end;
}

#login{
    display:flex;
    width:500px;
    justify-content: space-around;
}

#connect{
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-top: 35px;
}

#pseudo_connexion{
    margin-left: 0px;
    margin-bottom: 5px;
    width: 150px;
}

#password_connexion{
    margin-bottom: 5px;
    width: 150px;
}

#valider_connexion{
    width: 100%;
}

#inscription, #deconnexion{
    border: 2px solid white;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    position: relative;
    border-radius: 50%;
    top: 40px;
}

#inscription:hover, #deconnexion:hover{
    background-color: white;
    border: 3px solid brown;
    color: brown;
}

#form_connexion{
    display:flex;
    flex-direction: column;
    margin-top: 15px;
}